.vs/
SandmanUniversity.Ui/bin/
SandmanUniversity.Ui/obj/
SandmanUniversity.Data/bin/
SandmanUniversity.Data/obj/
Sandman.Extensions/bin/
Sandman.Extensions/obj/
Sandman.Models/bin/
Sandman.Models/obj/
SandmanUniversity.Commands/bin/
SandmanUniversity.Commands/obj/
SandmanUniversity.Models/bin/
SandmanUniversity.Models/obj/
SandmanUniversity.Profiles/bin/
SandmanUniversity.Profiles/obj/
SandmanUniversity.Queries/bin/
SandmanUniversity.Queries/obj/
*.user
